.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  p {
    margin: 0;
  }
}

.footer-group {
  margin-bottom: 1rem;
  flex-basis: 100%;
}

.footer-sitemap {
  display: flex;
  flex-flow: column nowrap;
}

.footer-faculties {
  border-bottom: 1px solid $gray-300;

  @include media-breakpoint-up(md) {
    flex: 0 0 100%;
    border: none;
  }

  .footer-links {
    display: flex;
    flex-flow: row wrap;

    @include media-breakpoint-up(md) {
      display: flex;
      padding-top: 0.5rem;
    }

    li {
      flex: 0 0 50%;
      position: relative;
      padding-right: 1.5rem;
      margin-bottom: 1rem;

      @include media-breakpoint-up(md) {
        flex: 0 0 20%;
      }

      &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0.5rem;
        left: -0.9rem;
        width: 6px;
        height: 5px;
        background: $red;
      }

      a {
        margin: 0;
      }

      strong {
        display: block;
      }
    }
  }
}

.footer-legal {
  display: flex;
  border-top: 1px solid $gray-300;
  padding-top: 2rem;
  flex-flow: column wrap;
  text-align: center;
  flex-basis: 100%;

  a + a {
    margin-left: 1rem;
  }
}

.footer-links {
  margin: 0;
  padding-left: 0;

  a {
    display: inline-block;
    font-size: $font-size-sm;
    line-height: 1.2rem;
    color: $gray-600;
    text-decoration: none;

    &:hover {
      color: $link-hover-color;
    }
  }

  li {
    margin: 0.5rem 0;
    list-style-type: none;

    &:before {
      content: none;
    }
  }
}

.footer-bottom {
  display: flex;
}

@include media-breakpoint-down(sm) {
  .footer-sitemap {
    margin-bottom: 0;
  }

  .footer-social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .footer .btn {
    margin: 0 0.4em 0.6rem 0;
  }

  .footer-links li:last-child { margin-bottom: 1rem; }
}

@include media-breakpoint-up(md) {
  .footer-title {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    margin-bottom: 0.4rem;
    font-size: $font-size-sm;
    color: $gray-600;
    border-bottom: 1px solid $gray-300;
  }

  .footer-buttons,
  .footer-socials {
    margin-bottom: 2rem;
    flex-basis: auto;
  }

  .footer-title-no-underline {
    border: none;
    padding-bottom: 0.3rem;
  }

  .footer-sitemap-col {
    padding-right: 0.8rem;
    flex: 1 1 auto;
  }

  .footer-legal {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;

    & > div {
      display: flex;
      flex: 0 0 auto;
    }

    a,
    p {
      font-size: $font-size-sm;
      color: $gray-600;
    }
  }

  .footer-sitemap {
    flex-flow: row nowrap;
  }
}

// ----------------
// Dark footer
// ----------------
.bg-dark {
  .footer a {
    color: $white;

    &:hover {
      color: $red;
    }
  }

  .footer-title {
    color: $white;
    border-color: $gray-600;
  }
}
