@charset 'utf-8';

@import "social-color";

/*
  Variables for trapezes card
*/
$trapeze-height: 0.5rem;
$trapeze-animation-duration: 0.2s;

$header-height: 6.5rem;
$main-nav-width: 28rem;

// mobile-menu (mm) variables
$mm-breadcrumbs-height: 3.5rem;
$mm-lang-height: 3rem;
$mm-lang-width: 5.8rem;
