@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Nunito');
 
// Variables
@import 'variables';

// YOURLS
@import "info.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#shortened_link {

}

// RSS icon in the menu
#rss-icon {
  width: 12px;
}



@import 'elements/config/mixins';
@import 'elements/config/variables';
@import '~bootstrap/scss/_functions';
@import 'elements/config/bootstrap-variables';
@import '~bootstrap/scss/bootstrap';
@import 'elements/config/typography';
@import 'elements/config/layout';
@import 'elements/config/helpers';
@import 'elements/config/wordpress';
//@import '~tablesaw/src/tables.stack-mixin.scss';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';


@import 'elements/atoms';
@import 'elements/molecules';
@import 'elements/organisms';
@import 'elements/content-types';

@import 'callout';
@import 'ribbon.css';
@import 'footer';
